# Ignore everything, except...
*

# Modules
!package.json
!yarn.lock

# UI files
!nuxt.config.js
!assets/
!components/
!content/
!layouts/
!locales/
!pages/
!static/
!store/

# Server files
!api/

!tsconfig.json
