@font-face {
    font-family: 'GrammatikaRegular';
    src: url('/font/GrammatikaRegular.woff2') format('woff2'),
    url('/font/GrammatikaRegular.woff') format('woff'),
    url('/font/GrammatikaRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
